* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: white;
}

/* HERO */
.hero {
    height: 100vh;
    background: url('/Image/background.jpg') no-repeat center center/cover;
    position: relative;
}

/* OVERLAY */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
}

/* NAVBAR */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    z-index: 2;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.logo-img {
    width: 40px; /* adjust size */
    height: auto;
    margin-right: 10px;
}
.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

    .nav-links a:hover {
        color: orange;
    }
    .nav-links a.login-btn:hover {
        color: black;
    }

.login-btn {
    background: orange;
    padding: 8px 18px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}


.login-btn:hover {
    background: #ff7b00;
}

/* CONTENT */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width: 80%;
}

    .content h1 {
         font-family: 'Handelson Two', cursive;
        font-size: 60px;
        color: orange;
    }

    .content h2 {
        font-family: 'Handelson Two', cursive;
        font-size: 30px;
        color: #00c3ff;
        margin-bottom: 15px;
    }

    .content p {
        margin: 20px auto;
        max-width: 600px;
        font-size: 14px;
        color: #ddd;
    }

.btn {
    background: orange;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

    .btn:hover {
        background: #ff7b00;
    }

/* ANIMATION */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* MODAL BACKGROUND */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

/* MODAL BOX */
.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #111;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

/* CLOSE BUTTON */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

/* INPUT */
.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

/* TITLE */
.modal-box h2 {
    color: orange;
}
